/* global timetrack variables */
/* navigation */
@media (max-width: 767px) {
  footer.footer {
    padding: 20px 0 0 0;
  }
}
footer.footer a {
  color: #434a54;
}
footer.footer .footer-copyright {
  color: inherit;
}
footer.footer .footer-copyright .tt-motto {
  font-size: 1em;
  color: white;
}
@media (min-width: 1200px) {
  footer.footer .footer-copyright .tt-motto {
    display: none;
  }
}
footer.footer {
  background: rgba(67, 74, 84, 0.5);
}
@media (min-width: 768px) {
  footer.footer {
    background: none;
  }
}
