.site-container {
    padding-top: 50px;
    transition: padding-left 0.5s ease-in-out;
}

@media (min-width: 992px) {
    .site-container {
        padding-top: 0;
        padding-left: 60px;
    }
}

@media (min-width: 1200px) {
    .site-container {
        padding-left: 200px;
    }
}

@media (min-width: 1560px) {
    .site-container {
        padding-left: 300px;
    }
}

#month {
    position: relative;
}

@media (min-width: 768px) {
    #month {
        padding-top: 80px;
    }
}

@media (min-width: 992px) {
    #month {
        padding-top: 100px;
    }
}

@media (min-width: 768px) {
    #month h1 {
        float: left;
    }
}

#month .monthHeader {
    display: none;
}

@media (min-width: 768px) {
    #month .monthHeader {
        display: block;
    }
}

.pageHeader {
    margin: 0;
    color: #f8f8f8;
    /* background: rgba(116, 116, 116, 0.4); */
    padding: 8px 0;
    border-bottom: none;
}

@media (min-width: 768px) {
    .pageHeader {
        padding: 15px 0 22px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .pageHeader {
        padding: 8px 0;
    }
}

.pageHeader h1 {
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 100;
}

.pageHeader h1 small {
    font-weight: 100;
}
