
li.button {
    list-style-type : none;
    text-align      : center;
    padding         : 0;
    text-transform  : uppercase;
}

@media (max-width : 767px) {
    .button {
        width : auto;
    }
}

.button a {
    display         : block;
    padding         : 11px 10px;
    font-size       : 10px;
    font-weight     : 100;
    color           : #c8c8c8;
    cursor          : pointer;
    text-decoration : none;
}

@media (min-width : 768px) {
    .button a {
        font-size : 18px;
    }
}

@media (min-width : 1200px) {
    .button a {
        font-size : 22px;
        padding   : 13px 10px;
    }
}

.button a:hover,
.button a:focus {
    background      : rgba(220, 48, 35, 0.6);
    color           : white;
    text-decoration : none;
}

a.active {
    background      : #DC3023;
    color           : white;
    text-decoration : none;
}

a.active:hover,
a.active:focus {
    background : #DC3023;
}
