/* monthselection */
.monthSelection {
    background : rgba(141, 149, 153, 0.4);
    position   : relative;
}

@media (min-width : 768px) {
    .monthSelection {
        display : table-row;
    }
}

.monthSelection h2 {
    color          : rgba(200, 200, 200, 0.7);
    margin         : 0;
    padding        : 10px 10px;
    font-weight    : 500;
    font-size      : 24px;
    text-transform : uppercase;
    vertical-align : top;
    display        : block;
    position       : absolute;
    top            : -4px;
    right          : 0;
    opacity        : 0.5;
}

@media (min-width : 768px) {
    .monthSelection h2 {
        display  : table-cell;
        position : inherit;
        opacity  : 1;
    }
}

@media (min-width : 1200px) {
    .monthSelection h2 {
        font-size : 34px;
    }
}

.monthSelection ul {
    padding       : 0;
    margin-bottom : 0;
    display       : table-cell;
}

@media (min-width : 768px) {
    .monthSelection ul {
        width : 100%;
    }
}

/* month */
li.month {
    list-style-type : none;
    text-align      : center;
    padding         : 0;
    text-transform  : uppercase;
}

.month a {
    display     : block;
    padding     : 11px 10px;
    font-size   : 10px;
    font-weight : 100;
    color       : #c8c8c8;
    cursor      : pointer;
}

.month a:hover {
    background      : rgba(220, 48, 35, 0.6);
    color           : white;
    text-decoration : none;
}

@media (min-width : 768px) {
    .month a {
        font-size : 18px;
    }
}

@media (min-width : 1200px) {
    .month a {
        font-size : 22px;
        padding   : 13px 10px;
    }
}

.today a {
    background : rgba(47, 160, 132, 0.4);
}

.active a {
    background : #DC3023;
    color      : white;
}

.active a:hover {
    background : #DC3023;
}

.future a {
    color : #646464;
}

.short,
.full {
    display : none;
}

@media (min-width : 768px) {
    .number {
        display : none;
    }

    .short {
        display : block;
    }
}
