{
    "sql-file" : true,

    "dev": {
        "driver": "pg",
        "user": "postgres",
        "password": "",
        "host": "127.0.0.1",
        "port": 5434,
        "database": "ttrack",
        "schema": "public"
    }
}
