.userlist {
    padding       : 0;
    margin-bottom : 0;
}

li.user {
    list-style-type : none;
    border          : 1px solid transparent;
    border-top      : none;
    min-height      : 101px;
    position        : relative;
    padding         : 0;
}

@media (max-width : 767px) {
    .user:first-child,
    .user:nth-child(2) {
        border-top  : 1px solid transparent;
        padding-top : 0;
    }

    .user:nth-child(even) {
        border-left : none;
    }
}

@media (min-width : 768px) {
    li.user {
        padding : 15px;
        border  : none;
    }
}

.userButton {
    display    : block;
    min-height : 100px;
    max-height : 100px;
    overflow   : hidden;
    position   : relative;
    cursor     : pointer;
    width      : 100%;
    padding    : 0;
    border     : 0;
}

.userButton:before {
    left                        : 0;
    top                         : 0;
    content                     : "";
    position                    : absolute;
    width                       : 100%;
    height                      : 100%;
    -webkit-transform           : scale3d(0, 0, 0);
    -moz-transform              : scale3d(0, 0, 0);
    -ms-transform               : scale3d(0, 0, 0);
    -o-transform                : scale3d(0, 0, 0);
    transform                   : scale3d(0, 0, 0);
    -webkit-transition          : all;
    -moz-transition             : all;
    -o-transition               : all;
    transition                  : all;
    -webkit-transition-duration : 250ms;
    transition-duration         : 250ms;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility    : hidden;
    backface-visibility         : hidden;
    background-color            : rgba(0, 0, 0, 0.3);
    z-index                     : 0;
    border-radius               : 0;
    opacity                     : 0;
    filter                      : alpha(opacity=0);
}

@media (min-width : 768px) {
    .userButton:before {
        border        : 1px solid transparent;
        border-radius : 5px;
    }
}

.userButton:hover:before {
    -webkit-transform : scale3d(1, 1, 1);
    -moz-transform    : scale3d(1, 1, 1);
    -ms-transform     : scale3d(1, 1, 1);
    -o-transform      : scale3d(1, 1, 1);
    transform         : scale3d(1, 1, 1);
    opacity           : 1;
    filter            : alpha(opacity=100);
}

@media (min-width : 768px) {
    .userButton {
        background    : white;
        border        : 1px solid white;
        border-radius : 5px;
        max-height    : none;
        padding       : 2px;
    }
}

@media (min-width : 768px) {
    .userButton .imageContainer {
        height   : 100px;
        overflow : hidden;
    }
}

@media (min-width : 992px) {
    .userButton .imageContainer {
        height : 132px;
    }
}

@media (min-width : 1200px) {
    .userButton .imageContainer {
        height : 164px;
    }
}

.userButton img {
    width : 100%;
}

@media (min-width : 768px) {
    .userButton img {
        border        : 1px solid transparent;
        border-radius : 5px;
    }
}

.userButton span {
    color      : #fff;
    transition : color 0.5s ease-in-out;
}

@media (min-width : 768px) {
    .userButton span {
        color       : black;
        font-weight : 500;
    }
}

.userButton > span {
    background : rgba(51, 51, 51, 0.6);
    padding    : 10px 15px;
    position   : absolute;
    bottom     : 0;
    left       : 0;
    width      : 100%;
}

@media (min-width : 768px) {
    .userButton > span {
        position   : initial;
        background : none;
        padding    : 20px 10px;
        display    : block;
    }
}

@media (min-width : 768px) and (max-width : 991px) {
    .userButton > span .lastname {
        display : none;
    }
}

.userButton:hover span {
    color : #FF6B00;
}

@media (min-width : 768px) {
    .userButton {
        background    : rgba(51, 51, 51, 0.4);
        border        : none;
        border-radius : 0;
        padding       : 0;
    }

    .userButton:before {
        border        : none;
        border-radius : 0;
    }

    .userButton img {
        border-radius : 0;
        border        : none;
    }

    .userButton span {
        color : white;
    }
}
