/* main theme */
/* global timetrack variables */
/* navigation */
body {
    font-family           : Roboto, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight           : 300;

    background-color      : rgba(74, 121, 147, 0.89);
    background-image      : radial-gradient(farthest-side ellipse at 10% 0, rgba(74, 121, 147, 0.89), rgba(204, 204, 204, 0.85) 80%, rgba(185, 135, 131, 0.87) 120%);
    background-image      : -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(204, 204, 204, 0.85) 80%, rgba(185, 135, 131, 0.87) 120%);
    background-image      : -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(204, 204, 204, 0.85) 80%, rgba(185, 135, 131, 0.87) 120%);
    background-attachment : fixed, fixed;
}

@media (min-width : 1200px) and (max-width : 1560px) {
    :global(.tt-col-lg-1) {
        width : 11%;
    }

    :global(.tt-col-lg-3) {
        width : 27.6%;
    }

    :global(.tt-col-lg-2-s) {
        width : 19.33333333%;
    }

    :global(.tt-col-lg-offset-3) {
        margin-left : 27.6%;
    }
}

@media (max-width : 900px) {
    :global(.tt-hidden-xsm) {
        display : none !important;
    }
}

@media (min-width : 899px) {
    :global(.tt-visible-xsm) {
        display : none !important;
    }
}

@media (max-width : 400px) {
    :global(.tt-hidden-smallest) {
        display : none !important;
    }
}

